<!DOCTYPE html>
<html>

<head>
    <title>Medical Robotics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
    h1,
    text {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <h1>Hello, world!</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br />
        <br /><input type="submit">
    </form>
    <br />
    <form action="/calculate" method="POST">
        <text>X:</text><br /><input name="input_x"><br />
        <text>Y:</text><br /><input name="input_y"><br />
        <text>Z:</text><br /><input name="input_z"><br />
        <text>Segment Length:</text><br /><input name="input_l"><br />

        <br /><input type="submit">
    </form>
    <br />
    <form action="/move" method="POST">
        <text>Joint:</text><br /><input name="joint"><br />
        <text>Angle:</text><br /><input name="angle"><br />

        <br /><input type="submit">
    </form>
</body>

</html>