<!DOCTYPE html>
<html>

<head>
    <title>Medical Robotics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<style>
    h1 {
        text-align: center;
    }

    div.form {
        width: 30%;
        margin: 0 auto;
    }

    div.table {
        width: 30%;
        margin: 0 auto;
        padding-top: 10px;
    }

    label {
        text-align: center;
    }
</style>

<body>
    <h1>Medical Robotics</h1>

    <!-- UPLOAD SOLUTION -->
    <div class="form">
        <form action="/uploadSolution" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-row">
                    <label for="uploadSolution">Inverse Solution</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="file" class="form-control-file" name="solution">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Upload Solution</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- CALCULATE ANGLES -->
    <div class="form">
        <form action="/calculate" method="POST">
            <h4>Calculate Robot Angles</h4> 
            <div class="form-group">
                <label for="coordinates">Coordinates</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="input_x" placeholder="X">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="input_y" placeholder="Y">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="input_z" placeholder="Z">
                    </div>
                </div>
                <label for="length">Segment Length</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="input_l" placeholder="Length">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </div>
    
    <div class="table">
    <dl class="row">
        <dt class="col-sm-3">Input</dt>
        <dd class="col-sm-9"> ({{x}}, {{y}}, {{z}}) Length = {{l}}</dd>
    </dl>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Joint</th>
                <th scope="col">Angle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td scope="row">{{ angle1 }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td scope="row">{{ angle2 }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td scope="row">{{ angle3 }}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td scope="row">{{ angle4 }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <!-- MOVE ROBOT -->
    <div class="form">
        <form action="/move" method="POST">
            <div class="form-group">
                <label for="move">Move Robot</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="joint" placeholder="Joint">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="angle" placeholder="Angle">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- MOVE ROBOT RELATIVE -->
    <div class="form">
        <form action="/moveRel" method="POST">
            <div class="form-group">
                <label for="moveRel">Move Robot Relative</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="joint" placeholder="Joint">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="angle" placeholder="Angle">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- UPLOAD SCRIPT -->
    <div class="form">
        <form action="/uploadScript" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="uploadScript">Robot Script</label>

                <div class="form-row">
                    <div class="col">
                        <input type="file" class="form-control-file" name="script">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Upload Script</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form">
        <form action="/run" method="POST" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Run Script</button>
        </form>
    </div>
</body>

</html>