<!DOCTYPE html>
<html>

<head>
    <title>Medical Robotics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<style>
    h1 {
        text-align: center;
    }

    div.form {
        width: 30%;
        margin: 0 auto;
    }

    label {
        text-align: center;
    }
</style>

<body>
    <h1>Medical Robotics</h1>
    <div class="form">
        <form action="/uploadSolution" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-row">
                    <label for="uploadSolution">Inverse Solution</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="file" class="form-control-file" name="solution">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Upload Solution</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form">
        <form action="/calculate" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <label for="coordinates">Enter Coordinates and Segment Length:</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" name="input_x" placeholder="X">
                    <input type="text" class="form-control" name="input_y" placeholder="Y">
                    <input type="text" class="form-control" name="input_z" placeholder="Z">
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" name="input_l" placeholder="Segment Length">
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary">Calculate Angles</button>
                </div>
            </div>
        </form>
    </div>

    <div class="form">
        <form action="/move" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <label for="move">Move Robot</label>
                    <input type="text" class="form-control" name="joint" placeholder="Joint">
                    <input type="text" class="form-control" name="angle" placeholder="Angle">
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary">Move Robot</button>
                </div>
            </div>
        </form>
    </div>

    <div class="form">
        <form action="/uploadScript" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="uploadScript">Robot Script</label>

                <div class="form-row">
                    <div class="col">
                        <input type="file" class="form-control-file" name="script">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Upload Script</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form">
        <form action="/run" method="POST" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Run Script</button>
        </form>
    </div>
</body>

</html>